:root {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: purple;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
}
.taskbar-container {
  margin-top: 24px;
  margin-bottom: 16px;
  height: 110px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--secondary-color);
}

.taskbar-container > img {
  max-width: 55px;
  max-height: 55px;
  clip-path: circle(50%);
}

.taskbar-container > a {
  display: flex;
  gap: 8px;
}
/*-----------------------------*/

.login-container {
  max-height: 36px;
  max-width: 258px;
  padding: 10%;
  margin: auto;
  flex-direction: column;
  display: flex;
  gap: 24px;
}

.login-container > h1 {
  justify-content: center;
  display: flex;
}

.login-container > button {
  padding: 8px;
  border-radius: 25px;
  background-color: var(--tertiary-color);
  border: 1px solid white;
}

.login-container > input {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  border: 1px solid white;
}

.login-container > a {
  font-size: 10px;
  justify-content: center;
  display: flex;
  margin: 0px;
}

/*-----------------------------*/

.Perfil-stats-container{
  border-bottom: 1px solid gray;
}
.Perfil-stats-container > header {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Perfil-stats-container header > img {
  max-width: 150px;
  max-height: 150px;
  clip-path: circle(50%);
  margin-right: 24px;
}

.Perfil-stats-container header > a {
  margin-bottom: 48px;
  margin-left: 16px;
  font-size: larger;
}

.Perfil-stats-container header > span {
  margin-top: 24px;
}

/*----------------------------------------*/
.cadastre-se-container {
  max-height: 36px;
  max-width: 258px;
  padding: 10%;
  margin: auto;
  flex-direction: column;
  display: flex;
  gap: 24px;
}

.cadastre-se-container > h1 {
  justify-content: center;
  display: flex;
}

.cadastre-se-container > button {
  padding: 8px;
  border-radius: 25px;
  background-color: var(--tertiary-color);
  border: 1px solid white;
}

.cadastre-se-container > input {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  border: 1px solid white;
}

.cadastre-se-container > a {
  font-size: 10px;
  justify-content: center;
  display: flex;
  margin: 0px;
}
/*------------------------------------ */
.config-container{
  background-color: #262626;

}

.config-container >img{
  max-width: 55px;
  max-height: 55px;
  clip-path: circle(50%);
}
